:root{
  --AzulNeutro: #217BF9;
  --Azul: #1973B8;
  --AzulOscuro: #0B3D83;
  --gris: #EBEAEA;
  --blanco: #fff;
  --fuenteHeadings: 'Rambla', sans-serif;
  --fuenteParrafos: 'Sen', sans-serif;
}
html{
  box-sizing: border-box;
  font-size: 62.5%;
}
*,*:before , *:after {box-sizing: inherit;}
a{text-decoration: none;}
body {
  font-family: var(--fuenteParrafos);
  font-size:1.6rem;
}
h1 ,h2 , h3 ,h4,h5{
  font-family: var(--fuenteHeadings);
  margin: 0;
  padding: 0;
}
h1{ font-size: 4rem;}
h2{ font-size: 3.5rem; }
h3{ font-size: 3rem; }
h4{ font-size: 2.5rem; }
h5{font-size: 2.2rem;}
img{ max-width: 100%; }
span{color: var(--AzulOscuro);}
.contenedor{
  margin: 0 auto;
  max-width: 140rem;
  width: 95%;
}
.header{
  background-color: var(--Azul);
}
.header__barra, .barra__enlaces , .barra__item{
  display: flex;
  gap: 1.5rem;
}
.barra__item{align-items: center;}
.barra__enlaces .barra__item:hover , .navegacion__enlace :hover{cursor: pointer;}
.barra__enlaces .item__titulo:hover{color: var(--blanco);}
.header__barra{
  justify-content: space-between;
  padding: 1rem 0;
}
.item__titulo{ color: var(--blanco); }
.barra__enlaces .item__titulo{ color: var(--gris); }
.navegacion{
  background-color: var(--blanco);
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem;
}
.navegacion__enlace{
  align-items: center;
  display: grid;
  justify-content: center;
}
.enlace__titulo ,.articulo__titulo{
  color: var(--AzulOscuro);
}
.enlace__img{ display: flex; justify-content: center;}
.enlace__titulo:hover{color: var(--Azul);}
.mision-vision{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  gap: 2.5%;
}
.articulo{
  background-color: var(--gris);
  padding: 1.5rem;
  width: 55rem;
  display: grid;
  grid-template-rows: 0.6fr 1fr;
  gap: 1.5rem;
}
.articulo__titulo{ text-align: center;}
.articulo__texto{text-align: justify;margin: 0;}
.articulo__img{
  width: 100%;
  max-height: 30rem;
  overflow: hidden;
}
.quienes-somos{
  margin-top: 7rem;
}
.banner{
  align-items: center;
  background-color: var(--gris);
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 1.5fr 1fr;
  height: 35rem;
  justify-content: center;
  overflow: hidden;

}
.banner__img{
  overflow: hidden;
  width: 100%;
}
.banner__titulo{
  color: var(--AzulOscuro);
  font-size: 5rem;
  text-align: center;
}
.banner__texto{
  line-height: 1.5;
  padding-right: 1.5rem;
  text-align: center;
}
.equipo{
  margin-top: 7rem;
}
.integrantes{
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}
.equipo__titulo,.servicios__titulo,.avisos__titulo,.mision-vision__titulo{
  color: var(--AzulOscuro);
  text-align: center;
}
.integrante__nombre{
  text-align: center;
}
.integrante{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}
.integrante__foto{
  border-radius: 50%;
  height: 14rem;
  overflow: hidden;
  width: 12rem;
}
.servicios{
  margin-top: 7rem;
}
.servicios__contenedor{
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
.servicio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.servicio__img{
  width: 12rem;
  height: 14rem;
}
.noticias{
  margin-top: 7rem;
}
.noticias__titulo{
  color: var(--AzulOscuro);
}
.noticia__titulo{
  color: var(--Azul);
}
.noticia__titulo:hover{
  text-decoration: underline;
}
.noticias__contenedor{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.noticia{
  background-color: var(--gris);
  padding: 1.5rem;
  display: flex;
  gap: 2rem;
}
.noticia__texto{
  text-align: justify;
}
.noticia__img{
  width: 35rem;
  height: 20rem;
}
.avisos{
  margin-top: 7rem;
}